@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: rgb(85, 101, 76);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-button {
  background: #687D5B;
}

.nav-button:hover {
  background: #829A73;
}

.testimonial-slide {
  background: rgba(118 103 75 / 70%);
  border-radius: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  overflow: hidden;
  flex-direction: column;
}